.main-header {
    background-color: rgb(26, 37, 47);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 10%;
}

.main-header .title, .main-header .navigator {
    display: inline;
}

.main-header a {
    color: white;
    text-decoration: none;
    padding-left: 50px;
}