.footer {
    width: 100%;
    height: 200px;
    background-color: rgb(44, 62, 80);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
}
.generic {
    display: flex;
    flex-direction: column;
    color: white;
}
.generic > .local {
    font-size: 10px;
}
.icones-social {
    padding-right: 2px;
}

